.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-top: 70px; /* Will not be covered by Header */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; /* distance between the search box and checkInTable */
  gap: 20px;
}

.search-box {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.search-box:focus {
  border-color: #4caf50;
}

.checkin-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Distance between the table and search box */
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.checkin-card {
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.checkin-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkin-name {
  font-size: 18px;
  font-weight: bold;
  color: #001f3f;
}

.checkin-email {
  font-size: 16px;
  color: #555;
}

.checkin-time {
  font-size: 14px;
  color: #888;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.selected-row {
  background-color: #d3d3d3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

.main-content {
  display: flex;
}

.left-panel {
  width: 40%;
  padding-right: 10px;
  padding-bottom: 20px; 
  border-right: 1px solid #ccc;
}

.right-panel {
  width: 60%;
  padding-left: 10px;
}
